/* You can add global styles to this file, and also import other style files */

* {
    font-family: 'Roboto', sans-serif;
}

body {
    font-size: .875rem;
}

.feather {
    width: 16px;
    height: 16px;
    vertical-align: text-bottom;
}