<ng-template #content let-modal>

  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">New Campaign</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('cross')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="modal-body">
    <form [formGroup]="editCampaignForm" class="cm-modal-form">

      <div class="form-group">
        <label for="startDate">Start Date</label>
        <div class="input-group">
          <input id="startDate" class="form-control" formControlName="startDate" placeholder="dd/mm/yyyy"
            name="startDate" ngbDatepicker #startDate="ngbDatepicker">
          <div class="input-group-append">
            <button class="btn btn-outline-secondary" (click)="startDate.toggle()" type="button">
              <i class="fas fa-calendar-alt"></i>
            </button>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="endDate">End Date</label>
        <div class="input-group">
          <input id="endDate" class="form-control" formControlName="endDate" placeholder="dd/mm/yyyy"
            name="endDate" ngbDatepicker #endDate="ngbDatepicker">
          <div class="input-group-append">
            <button class="btn btn-outline-secondary" (click)="endDate.toggle()" type="button">
              <i class="fas fa-calendar-alt"></i>
            </button>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="targetImpressions">Target Impressions</label>
        <div class="input-group">
          <input id="targetImpressions" class="form-control" formControlName="targetImpressions"
            placeholder="Target Impressions" name="targetImpressions">
        </div>
      </div>

      <div *ngIf="editCampaignForm?.errors?.endDateAfterStartDate" class="alert alert-danger" role="alert">
        End date most after start date.
      </div>

      <div *ngIf="editCampaignForm?.root.controls.startDate.errors?.required" class="alert alert-danger" role="alert">
        Start date field cannot be empty.
      </div>

      <div *ngIf="editCampaignForm?.root.controls.endDate.errors?.required" class="alert alert-danger" role="alert">
        End date field cannot be empty.
      </div>

      <div *ngIf="editCampaignForm?.root.controls.targetImpressions.errors?.required" class="alert alert-danger" role="alert">
        Target Impressions field cannot be empty.
      </div>

      <div class="modal-footer">
        <button type="submit" class="btn btn-outline-dark" [disabled]="!editCampaignForm.valid" (click)="modal.close('save')">Save</button>
      </div>

    </form>
  </div>

</ng-template>

<button id="cmOpenModalButton" class="btn btn-outline-primary" (click)="open(content)">
  <ng-content></ng-content>
</button>