.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 100;
    /* Behind the navbar */
    padding: 48px 0 0;
    /* Height of navbar */
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

.cm-page-content {
    /* Space for fixed navbar */
    padding-top: 48px;
}

@media (min-width: 768px) {
    .cm-page-content {
        /* Space for fixed navbar */
        padding-top: 48px;
    }
}