<div class="input-group">
  <input id="cmSearchCampaignInput" [(ngModel)]="searchCampaign" (keyup.enter)="onSearch(searchCampaign)"
    type="search" class="form-control ds-input" placeholder="Search Campaign By ID ..." aria-label="Search for..."
    autocomplete="off" spellcheck="false" role="combobox" />
  <div class="input-group-append">
    <button class="input-group-text" id="cmSearchButton" role="button" type="button"
      (click)="onSearch(searchCampaign)">
      <i class="fas fa-search"></i>
    </button>
  </div>
</div>