<main role="main">
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3">

    <h1 class="h2">Campaigns</h1>

    <cm-search-campaign></cm-search-campaign>

    <div class="btn-toolbar mb-2 mb-md-0">
      <div class="btn-group mr-2">
        <cm-edit-campaign>
          New Campaign
        </cm-edit-campaign>
      </div>
    </div>

  </div>

  <div class="table-responsive">
    <table class="table table-striped table-sm">
      <thead>
        <tr>
          <th>ID</th>
          <th>Start Date</th>
          <th>End Date</th>
          <th>Target Impressions</th>
        </tr>
      </thead>
      <tbody>

        <tr class="campaign-row" *ngFor="let campaign of campaigns | async">
          <td>{{campaign.id}}</td>
          <td>{{campaign.startDate | date: 'dd-MM-yyyy'}}</td>
          <td>{{campaign.endDate | date: 'dd-MM-yyyy'}}</td>
          <td>{{campaign.targetImpressions}}</td>
        </tr>

      </tbody>
    </table>
  </div>

</main>